<VirtualHost *:80>
    ServerName {{ GLPI_FQDN }}
    DocumentRoot {{ GLPI_WEB_ROOT }}

    <Directory {{ GLPI_WEB_ROOT }}>
        Require all granted
        AllowOverride All
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/glpi-error.log
    CustomLog ${APACHE_LOG_DIR}/glpi-access.log combined
</VirtualHost>
